body{
    font-family: Arial, sans-serif;
        text-align: center;
        background-color: #eef2f3;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .container, .login-container, .signup-container{
        background:#eef2f3;
        padding: 25px;
        width: 350px;
        max-width: 90%;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        text-align: center;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    
    .container:hover, .login-container:hover, .signup-container:hover{
        transform: scale(1.06);
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
    }
    
    h1 {
        color: #222;
        font-size: 26px;
        margin-bottom: 20px;
    }
    
    .input-group {
        margin-bottom: 15px;
        text-align: left;
    }
    
    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color:#222;
    }
    
    input {
        width: 100%;
        padding: 12px;
        margin-top: 5px;
        border: 1px solid #222;
        border-radius: 8px;
        box-sizing: border-box;
    }
    
    button {
        width: 100%;
        padding: 14px;
        border: none;
        color: rgb(20, 146, 163);
        cursor: pointer;
        border-radius: 12px;
        font-size: 16px;
        transition: 0.3s;
        margin-top: 10px;
        font-weight: bold;
    }
    
    button:hover {
        opacity: 0.85;
        transform: translateY(-4px);
    }
    
    .login-btn {
        background-color:#C4D7FF;
    }
    
    .signup-btn {
        background-color:#C4D7FF;
    }
    .logout-btn {
        background-color: #dfe5ec;
        color:#20d14c;
    }
    
    .hidden {
        display: none;
    }
    @media (max-width: 768px) {
        .container, .login-container, .signup-container, .knapsack-container {
            width: 92%;
            margin: 0 auto;
            padding: 20px;
        }
    
        h1 {
            font-size: 22px;
        }
    }